/* color */

a:link,a:visited{color:#575757;text-decoration:none;}

a:hover{color:#ef4165;text-decoration:none;}

a:active{color:#1d7400;}

/* clearfix */

.clearfix:after{ visibility:hidden; display:block; font-size:0; content:" "; clear:both; height:0;}

*html .clearfix{ zoom:1;}



.preview{width:500px; height:500px; }

/* smallImg */



/* bigImg */

.bigImg{position:relative; float:left; width:500px; height:500px; overflow:hidden;}

.bigImg #midimg{width:500px; height:500px;}

.bigImg #winSelector{width:200px; height:200px;}

#winSelector{position:absolute; cursor:crosshair; filter:alpha(opacity=15); -moz-opacity:0.15; opacity:0.15; background-color:#ccc; border:1px solid #fff;}

/* bigView */

#bigView{position:absolute;border: 1px solid #eee; overflow: hidden; z-index:999;left: 0;top: 0;}

#bigView img{position:absolute;}