<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				list-style: none;
				border: none;
				vertical-align: top;
				box-sizing: border-box;
			}
			body{
				background: #C4E1E2;
			}
			.container{
				width: 980px;
				margin: 0 auto;
			}
			ul{
				overflow: hidden;
				margin:0 -10px;
			}
			li{
				float: left;
				width: 333px;
				padding: 0 10px;
				margin-bottom: 20px;
			}
			
			img{ width: 100%;}
		</style>
	</head>
	<body>
		<div class="container">
			<ul>
				<li>
					<div><img src="images/1.png" alt="" /></div>
				</li>
				<li>
					<div><img src="images/2.png" alt="" /></div>
				</li>
				<li>
					<div><img src="images/3.png" alt="" /></div>
				</li>
				<li>
					<div><img src="images/4.png" alt="" /></div>
				</li>
				<li>
					<div><img src="images/5.png" alt="" /></div>
				</li>
				<li>
					<div><img src="images/6.png" alt="" /></div>
				</li>
				<li>
					<div><img src="images/7.png" alt="" /></div>
				</li>
			</ul>
		</div>
	</body>
</html>
