body{color: #000; font-family: "微软雅黑"; font-size: 14px;perspective: 1000px;}
a{ color: #555; text-decoration: none;}
img{vertical-align: middle;}
/*头部*/
.header{height: 755px;background: url(../images/listbanner.png) no-repeat center;}
.headerIn{width: 1200px;height: 755px;margin: auto;}
.header h1{/*background:tan;*/float: left;margin-top: 18px;margin-right: 8px;perspective:1000px;transition:1s;}
.header h1:hover{transform: scale(1.1);}
.nav{float: right;margin-top: 12px;}
.nav li{line-height: 80px;height: 80px;float: left;margin-right: auto;margin-left: 120px;position: relative;font-size: 16px;}
/*display:none隐藏*/
.nav .cur{color: #87553A;}
.nav .cur:after{content: "";width: 100%; padding:0 10px;height: 3px;background: #87553A;position: absolute;bottom: 20px;left:50%; transform: translateX(-50%);}
.nav li:after{content: "";width: 100%; padding:0 10px;height: 3px;background: #87553A;position: absolute;bottom: 20px;left:50%; transform: translateX(-50%);display: none;}
/*鼠标移上li时其伪元素display:block显示*/
.nav li:hover:after{display: block;}
.nav li:hover a{color: #87553A;}

/*文字*/
.zhong{width: 1200px;height: 116px;/*background:tan;*/margin: auto;}
.zizuo{overflow: hidden;font-size: 16px;}
.zizuo p{float: left;margin-left: 5px;margin-top: 30px;color: #555;}
.zizuo p:hover{text-decoration: underline;}
.zizuo .wu:hover{text-decoration: none;}
.zhongzi h2{font-size: 20px;text-align: right;animation-delay: 0.3s;}
.zhongzi p{font-size: 15px;text-align: right;color: #9e9e9e;line-height: 28px;animation-delay: 0.5s;}
.xian{width: 40px;height: 2px;background: #555555;float: right;}

/*点击内容按钮*/
.neirong{width: 1200px;height: 60px;/*background:tan;*/margin: auto;text-align: center;margin-top: 58px;perspective: 2000px;}
/*.neirong ul{width: 900px;height: 60px;margin: auto;}*/
.neirong ul li{float: left;line-height: 60px;width: 93px;height: 36px;transition: 1s;border: 1px solid #c9c9c9;margin-right: 10px;text-align: center;line-height: 36px;color: #9e9e9e;}
.neirong ul li a{display: block;}
.neirong ul li:first-child{background: #663D27;}
.neirong ul li:first-child a{color: #fff;}
.neirong ul li:hover{background: #663D27;}
.neirong ul li:hover a{color:#fff;}
.shang ul li:last-child{background: #555;}
.shang ul li:last-child a{color: #fff;}
/*产品文案*/
.article{width: 1200px;/*background:tan;*/margin: auto;margin-top: 50px;height: 870px;overflow: hidden;}
.products{height: 100%; overflow: hidden;}
.article dl{float: left;text-align: center;margin: 0 20px 20px 0;position: relative;width: 284px;height: 415px;overflow: hidden;}
.article dl:nth-of-type(4){margin-right: 0;}
.article dl h3{font-size: 16px;line-height: 25px;margin-top: 10px;}
.article dl:last-child{margin-right: 0;}


/*鼠标移上线框*/
.article dl dt{width: 284px;height: 350px;}
.article dl dt img{transition: 0.5s;}
.article .left{height: 415px;width: 1px;background: #ea4f0d;position: absolute;left: 0;bottom: -450px;transition: 0.7s;opacity: 0;}
.article .right{height: 415px;width: 1px;background: #ea4f0d;position: absolute;right: 0;top: -450px;transition: 0.7s;opacity: 0;}
.article .top{height: 1px;width: 284px;background: #ea4f0d;position: absolute;left: -350px;top: 0;transition: 0.7s;opacity: 0;}
.article .down{height: 1px;width: 284px;background: #ea4f0d;position: absolute;right: -350px;bottom: 0px;transition: 0.7s;opacity: 0;}
.article dl:hover .left{bottom: 0;opacity: 1;}
.article dl:hover .right{top: 0;opacity: 1;}
.article dl:hover .top{left: 0;opacity: 1;}
.article dl:hover .down{right: 0;opacity: 1;}


/*点击翻页*/
.fanye{width: 1200px;height: 45px;margin: auto;text-align: center;margin-top: 10px;}
.fanye a{padding: 5px 10px;width: 50px;height: 50px;line-height: 50px;border: 1px solid #eee;transition: 0.5s;}
.fanye .cur{color: #fff;background: #555;}
.fanye a:hover{background: #555;color: #fff;}

/*底部*/
.footer{height: 30px;background:#eee;line-height: 30px;margin-top: 20px;}
.footer p{text-align: center;font-size: 12px;}